<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("Content/bootstrap.css")" type="text/css" rel="Stylesheet" />
    <link href="@Url.Content("Content/bootstrap-responsive.css")" type="text/css" rel="Stylesheet" />
</head>

<body>
    @RenderBody()
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
</body>
</html>
